@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes scaleLogo {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
  
  .fixed-logo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    animation: scaleLogo 2s infinite ease-in-out;
  }